/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.staffPatissier {
    @include mi.marginPercent(1920, 117, auto, 0, auto);
    @include mi.paddingPercent(1920, 125, 0, 100, 0);
    border-radius: 0 5.2083333333vw 0 0;

    @include mi.mq(sp) {
        margin-top: 16%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.paddingPercent(375, 100, 0, 80, 0);
        border-radius: 0 25vw 0 0;
    }
}

.staffPatissierWap {
    @include mi.mq(sp) {}
}

.staffPatissierFx {}

//左
.leftPhotoStaffPatissier {
    @include mi.marginPercent(1300, 165, 0, 0, 0);
    @include mi.ontenerWidth(1300, 346);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 0, auto, 0, 0);
        @include mi.ontenerWidth(375, 300);
    }
}

//中
.secStaffPatissier {
    @include mi.ontenerWidth(1300, 352);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 308);
        @include mi.marginPercent(375, 50, auto, 0, auto);
    }
}

.h2SecStaffPatissier {
    @include mi.fontSizePc(13);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(50);
    }
}

.h3SecStaffPatissier {
    @include mi.marginPercent(352, 9, auto, 0, auto);
    @include mi.fontSizePc(40);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: -1%;
        @include mi.fontSizeSp(32);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(10);
    }
}

.rubySecStaffPatissier {
    margin-top: -1%;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: -1.2%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.txtSecStaffPatissier {
    @include mi.marginPercent(352, 45, auto, 0, auto);
    @include mi.fontSizePc(26);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 11.23%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}

.txtSecStaffPatissier02 {
    @include mi.marginPercent(352, 29, 0, 0, 0);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(308, 40, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

.rightPhotoStaffPatissier {
    @include mi.ontenerWidth(1300, 346);
    margin: 3.5% 0 0 0;

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 50, 0, 0, auto);
        @include mi.ontenerWidth(375, 300);
    }
}