/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.staffFlower {
    @include mi.paddingPercent(1920, 126, 0, 100, 0);
    border-radius: 0 5.208333333333333vw 0 0;

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 0, auto, 0, auto);
        @include mi.paddingPercent(375, 100, 0, 80, 0);
        border-radius: 0 26.666666666666668vw 0 0;
    }
}

.staffFlowerWap {
    @include mi.mq(sp) {
    }
}

.staffFlowerFx {
}

//左
.leftPhotoStaffFlower {
    @include mi.marginPercent(1300, 224, 0, 0, 0);
    @include mi.ontenerWidth(1300, 346);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 0, auto, 0, 0);
        @include mi.ontenerWidth(375, 300);
    }
}

//中
.secStaffFlower {
    @include mi.ontenerWidth(1300, 352);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 308);
        margin-top: 12.33%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.h2SecStaffFlower {
    @include mi.fontSizePc(13);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(50);
    }
}

.h3SecStaffFlower {
    @include mi.marginPercent(352, 19, auto, 0, auto);
    @include mi.fontSizePc(40);
    @include mi.lineheightP(120);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 1.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(32);
        @include mi.lineheightP(120);
        @include mi.letterSpacing(10);
    }
}

.rubySecStaffFlower {
    @include mi.marginPercent(352, 2, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: -0.13%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.txtSecStaffFlower {
    @include mi.marginPercent(352, 46, auto, 0, auto);
    @include mi.fontSizePc(26);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 12.23%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}

.txtSecStaffFlower02 {
    @include mi.marginPercent(352, 29, 0, 0, 0);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 6.98%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

.rightPhotoStaffFlower {
    @include mi.marginPercent(1300, 47, 0, 0, 0);
    @include mi.ontenerWidth(1300, 346);

    @include mi.mq(sp) {
        margin-top: 11%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.ontenerWidth(375, 300);
    }
}
