/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.yakigashiProductNoshi {
    @include mi.marginPercent(1300, 100, auto, 0, auto);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 50, auto, 0, auto);
    }
}
.yakigashiProductNoshiWap {
    @include mi.mq(sp) {
    }
}
.yakigashiProductNoshiLxn {
}
.btnYakigashiProductNoshi {
    @include mi.paddingPercent(1300, 15, 0, 14, 0);
    cursor: pointer;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    @include mi.mq(sp) {
        padding: 2.93% 0% 3% 0%;
    }
}
.btnYakigashiProductNoshiFx {
    @include mi.ontenerWidth(1300, 345);
    margin: auto;
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
    }
}
.iconBtnYakigashiProductNoshiFx {
    margin: 0 0 0 auto;
    transition-duration: 0.5s;
    @include mi.ontenerWidth(345, 12);
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 10);
    }
}
.btnYakigashiProductNoshi.on .iconBtnYakigashiProductNoshiFx {
    transform: rotate(180deg);
}
.secBtnYakigashiProductNoshiFx {
}
.h2BtnYakigashiProductNoshiFx {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(50);
    }
}
.txtBtnYakigashiProductNoshiFx {
    @include mi.marginPercent(1300, -4, auto, 0, auto);
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        margin-top: -0.46%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}
.cntYakigashiProductNoshi {
    @include mi.marginPercent(1300, 35, auto, 0, auto);
    display: none;
    @include mi.mq(sp) {
        margin-top: 9%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.cntYakigashiProductNoshiLxn {
}
.txtCntYakigashiProductNoshi {
    @include mi.fontSizePc(18);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}
.cntYakigashiProductNoshiFx {
    @include mi.marginPercent(1300, 20, 0, 0, 0);
    @include mi.mq(sp) {
        margin-top: 13.12%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.secYakigashiProductNoshiLeft {
    @include mi.ontenerWidth(1300, 450);
    @include mi.mq(sp) {
        width: 100%;
    }
}
.h3YakigashiProductNoshiLeft {
    @include mi.fontSizePc(18);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}
.brdYakigashiProductNoshiLeft {
    height: 1px;
    width: 100%;
    margin: 1.5% 0 0 0;
    @include mi.mq(sp) {
        margin: 3.5% 0 0 0;
    }
}
.txtYakigashiProductNoshiLeft {
    @include mi.marginPercent(450, 11, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 2.75%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.txtYakigashiProductNoshiLeft02 {
    @include mi.marginPercent(450, 10, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 2.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.secYakigashiProductNoshiRight {
    @include mi.ontenerWidth(1300, 819);
    @include mi.mq(sp) {
        margin-top: 5.6%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
.h3YakigashiProductNoshiRight {
    @include mi.fontSizePc(18);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}
.brdYakigashiProductNoshiRight {
    height: 1px;
    width: 100%;
    @include mi.marginPercent(819, 7, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 2.85%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.txtYakigashiProductNoshiRight {
    @include mi.marginPercent(819, 20, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(16);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 2.54%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.picYakigashiProductNoshiRight {
    @include mi.marginPercent(771, 49, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 7.96%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.secLastYakigashiProductNoshi {
    @include mi.marginPercent(1300, 78, auto, 0, auto);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 40, auto, 0, auto);
    }
}
.h2LastYakigashiProductNoshi {
    @include mi.paddingPercent(1300, 0, 0, 8, 0);
    border-bottom: 1px solid #e1e1e1;
    @include mi.fontSizePc(18);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.paddingPercent(330, 0, 0, 15, 0);
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.txtLastYakigashiProductNoshi {
    @include mi.marginPercent(1300, 12, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 15, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.photoLastYakigashiProductNoshi {
    @include mi.marginPercent(1300, 37, auto, 0, 0);
    @include mi.ontenerWidth(1300, 1093);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 25, auto, 0, auto);
        width: 100%;
    }
}
