/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.memberPresent {
    @include mi.marginPercent(1920, 88, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 18.53%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.memberPresentWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}

.memberPresentMain {
    @include mi.paddingPercent(1300, 35, 0, 46, 0);
    @include mi.kadomaru(10px);

    @include mi.mq(sp) {
        padding: 7.12% 0% 8.09% 0%;
    }
}

.memberPresentMainLxn {
    @include mi.ontenerWidth(1300, 1096);
    margin: auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 301);
    }
}

.h2MemberPresentMain {
    @include mi.fontSizePc(40);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(32);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}

.h3MemberPresentMain {
    @include mi.marginPercent(1300, -4, auto, 0, auto);
    @include mi.fontSizePc(24);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(40);

    @include mi.mq(sp) {
        margin-top: -0.04%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.rubyMemberPresentMainT {
    @include mi.marginPercent(1300, -3, auto, 0, auto);
    @include mi.fontSizePc(18);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 0.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);

    }
}


.brdMemberPresentMain {
    @include mi.marginPercent(1096, 11, auto, 0, auto);
    height: 1px;
    width: 100%;
    background: #d9d9d9;

    @include mi.mq(sp) {
        margin-top: 3.24%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.ulMemberPresentMain {
    @include mi.marginPercent(1096, 41, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 30, auto, 0, auto);
    }
}

.liMemberPresentMain {
    @include mi.ontenerWidth(1096, 522);

    @include mi.mq(sp) {
        width: 100%;

        &:nth-child(n + 2) {
            margin-top: 8.5%;
            margin-bottom: 0%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.picliMemberPresentMain {
    @include mi.ontenerWidth(522, 162);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(301, 84);
    }
}

.secMemberPresentMain {
    @include mi.ontenerWidth(522, 336);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(301, 200);
        margin: -1% 0 0 0;
    }
}

.titleMemberPresentMain {
    align-items: baseline;
}

.h3TitleMemberPresentMain {
    @include mi.fontSizePc(12);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(100);
    }
}

.intTitleMemberPresentMain {
    @include mi.marginPercent(366, 0, auto, 0, 8);
    @include mi.fontSizePc(18);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.marginPercent(200, 0, auto, 0, 8);
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(100);
    }
}

.h4MemberPresentMain {
    @include mi.marginPercent(366, 4, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 0.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.rubyMemberPresentMain {
    @include mi.marginPercent(366, 15, auto, 0, auto);
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 2.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(20);
    }
}

.txtMemberPresentMain {
    @include mi.marginPercent(366, 4, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 3.46%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}