/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.brandStoryTitle {
    @include mi.marginPercent(1920, 156, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 20.33%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.brandStoryTitleWap {}

.secBrandStoryTitle {}

.h2BrandStoryTitle {
    @include mi.fontSizePc(40);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(36);
        @include mi.lineheightP(260);
        @include mi.letterSpacing(100);
    }
}

.rubyBrandStoryTitle {
    @include mi.marginPercent(398, -6, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        margin-top: -7%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}