/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.brandStory01 {
    @include mi.marginPercent(1920, 85, auto, 0, auto);
    position: relative;

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 110, auto, 0, auto);
    }
}

.brandStory01Wap {
    @include mi.paddingVw(1920, 0, 0, 36, 0);

    @include mi.mq(sp) {
        @include mi.paddingVw(1920, 0, 0, 0, 0);
        margin-top: -1.67%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

//右コンテンツ
.secBrandStory01 {
    @include mi.ontenerWidth(1300, 600);
    @include mi.marginPercent(1300, -16, auto, 0, 0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.h2BrandStory01 {
    @include mi.fontSizePc(26);
    @include mi.lineheightP(210);
    @include mi.letterSpacing(20);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}

.txtBrandStory01 {
    @include mi.marginPercent(600, 40, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 4.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

.picBrandStory01 {
    width: 48.20vw;
    position: absolute;
    right: 0;
    top: 0;

    @include mi.mq(sp) {
        position: relative;
        width: 100%;
        margin-top: 5.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 88%;
        right: unset;
        top: unset;
    }

    img {
        width: 100%;
    }
}