/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.brandStory02 {
    @include mi.marginPercent(1920, 175, auto, 0, auto);
    display: flex;
    flex-flow: row wrap;
}
.picBrandStory02 {
    @include mi.ontenerWVw(1920, 930);
    position: absolute;
    left: 0;
    top: 0;

    @include mi.mq(sp) {
        position: relative;
        width: 100%;
        @include mi.marginPercent(330, 30, auto, 0, auto);
        left: unset;
        top: unset;
        order: 3;
    }

    img {
        width: 100%;
    }
}
.brandStory02Wap {
    @include mi.paddingVw(1920, 0, 0, 297, 0);

    @include mi.mq(sp) {
        @include mi.paddingVw(1920, 0, 0, 0, 0);

        @include mi.marginPercent(375, 40, auto, 0, auto);
    }
}
.secBrandStory02 {
    @include mi.ontenerWidth(1300, 600);
    margin: 0 0 0 auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}
.h2BrandStory02 {
    @include mi.fontSizePc(26);
    @include mi.lineheightP(210);
    @include mi.letterSpacing(20);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}
.txtBrandStory02 {
    @include mi.marginPercent(600, 65, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 30, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}
