/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.printedSweetsFvBtmNav {
    @include mi.marginPercent(1920, 56, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 22.3%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.PrintedSweetsFvBtmNavWap {
}
.navPrintedSweetsFvBtm {
    @include mi.ontenerWidth(1300, 860);
    @include mi.marginPercent(1300, 0, auto, 0, auto);
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.ulNavPrintedSweetsFvBtm {
}
.liNavPrintedSweetsFvBtm {
    @include mi.ontenerWidth(860, 200);
    border-bottom: 1px solid #d9d9d9;
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 154);
        &:nth-child(n + 3) {
            margin: 5% 0 0 0;
        }
    }
}
.btnNavPrintedSweetsFvBtm {
    @include mi.paddingPercent(200, 0, 0, 15, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    text-decoration: none;
    @include mi.mq(sp) {
        padding: 0% 0% 6.74% 0%;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        letter-spacing: -0.05em;
    }
}
