/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.printedCookieScene {
    @include mi.marginPercent(1920, 114, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 13.18%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.printedCookieSceneWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.secPrintedCookieScene {
}
.h2PrintedCookieScene {
    @include mi.fontSizePc(40);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(24);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}
.rubyPrintedCookieScene {
    @include mi.marginPercent(1300, -10, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: -0.46%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
.ulPrintedCookieScene {
    @include mi.marginPercent(1300, 46, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 10.12%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        flex-flow: row wrap;
    }
}
.liPrintedCookieScene {
    @include mi.ontenerWidth(1300, 180);
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 100);
        &:nth-child(n + 4) {
            margin: 7.24% 0% 0% 0%;
        }
    }
}
.photoLiPrintedCookieScene {
    width: 100%;
}
.rubyLiPrintedCookieScene {
    @include mi.marginPercent(180, 18, auto, 0, auto);
    @include mi.fontSizePc(18);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 11.45%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}
