/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.printedFlow {
    @include mi.marginPercent(1920, 114, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 15.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.printedFlowWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.titlePrintedFlow {
}
.h3PrintedFlowT {
    @include mi.fontSizePc(40);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(24);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}
.rubyPrintedFlow {
    @include mi.marginPercent(1300, -11, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: -0.46%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
.h4PrintedFlow {
    @include mi.marginPercent(1300, 37, auto, 0, auto);
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        margin-top: 7.12%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.txtPrintedFlowT {
    @include mi.marginPercent(1300, 30, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 5.24%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}
.ulPrintedFlow {
    @include mi.marginPercent(1300, 42, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 7.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        flex-flow: row wrap;
    }
}
.liPrintedFlow {
    @include mi.paddingPercent(1300, 10, 0, 9, 0);
    @include mi.ontenerWidth(1300, 386);
    @include mi.kadomaru(6px);
    @include mi.mq(sp) {
        padding: 3.06% 0% 4.36% 0%;
        width: 100%;
        &:nth-child(n + 2) {
            margin-top: 12.06%;
            margin-bottom: 0%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.secPrintedFlow {
    @include mi.ontenerWidth(386, 338);
    margin: auto;
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 294);
    }
}
.h3PrintedFlow {
    @include mi.fontSizePc(30);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(100);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(30);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(100);
    }
}
.txtPrintedFlow {
    @include mi.marginPercent(338, 7, auto, 0, auto);
    @include mi.fontSizePc(18);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: -0.9%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}
.picLiPrintedFlow {
    @include mi.marginPercent(338, 18, auto, 0, auto);
    width: 100%;
    @include mi.mq(sp) {
        margin-top: 5.8%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.txtLiPrintedFlow {
    @include mi.marginPercent(338, 17, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 3.1%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
.h4LiPrintedFlow {
    @include mi.marginPercent(338, 4, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    aspect-ratio: 338/20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include mi.mq(sp) {
        margin-top: 3.1%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
        aspect-ratio: 294/20;
    }
}
.h4LiPrintedFlow02 {
    @include mi.marginPercent(338, 46, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    aspect-ratio: 338/20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include mi.mq(sp) {
        @include mi.marginPercent(294, 15, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
        aspect-ratio: 294/20;
    }
}
.h4LiPrintedFlow03 {
    @include mi.marginPercent(338, 45, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    aspect-ratio: 338/20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include mi.mq(sp) {
        @include mi.marginPercent(294, 15, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
        aspect-ratio: 294/20;
    }
}
.linkLiPrintedFlow {
    @include mi.marginPercent(338, 6, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(100);
    @include mi.mq(sp) {
        margin-top: 1.42%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(100);
    }
}

.linkLiPrintedFlow03 {
    @include mi.marginPercent(338, 10, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(100);
    text-align: left;
    @include mi.mq(sp) {
        @include mi.marginPercent(294, 13, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
.timeLiPrintedFlow {
    @include mi.marginPercent(338, 7, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 1.42%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
