/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.printedAlert {
    @include mi.marginPercent(1920, 65, auto, 0, auto);
    @include mi.mq(sp) {
        @include mi.marginPercent(375, 40, auto, 0, auto);
    }
}
.printedAlertWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.secPrintedAlert {
    @include mi.paddingPercent(1300, 20, 0, 36, 0);
    @include mi.kadomaru(6px);
    @include mi.mq(sp) {
        padding: 4.09% 0% 6.06% 0%;
    }
}
.printedAlertLxn {
    @include mi.ontenerWidth(1300, 1210);
    margin: auto;
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 301);
    }
}
.h2PrintedAlert {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    width: fit-content;
    margin: auto;
    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.brdPrintedAlert {
    @include mi.marginPercent(304, 12, auto, 0, auto);
    border-bottom: 1px solid #b9b7b7;
    width: 100%;
    padding: 0 0 6px 0;
    @include mi.mq(sp) {
        @include mi.marginPercent(301, 12, auto, 0, auto);
    }
}
.printedAlertFx {
    @include mi.marginPercent(1210, 24, 0, 0, 0);
    @include mi.mq(sp) {
        margin-top: 7.96%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.secDataprintedAlertFx {
    @include mi.ontenerWidth(1210, 578);
    @include mi.mq(sp) {
        width: 100%;
    }
}
.h3DataPrintedAlertFx {
    @include mi.fontSizePc(15);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}
.txtDataPrintedAlertFx {
    @include mi.marginPercent(578, 14, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 2.64%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}
.txtDataPrintedAlertFx02 {
    @include mi.marginPercent(578, 26, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 5.64%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.secTyuiprintedAlertBx {
    @include mi.ontenerWidth(1210, 578);
    @include mi.mq(sp) {
        width: 100%;
    }
}
.secTyuiprintedAlertBx02 {
    @include mi.mq(sp) {
        margin: 8% 0 0 0;
    }
}
//
.h3TyuiPrintedAlertFx {
    @include mi.fontSizePc(15);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}
.txtTyuiPrintedAlertFx {
    @include mi.marginPercent(578, 13, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 3.64%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}
.txtTyuiPrintedAlertFx02 {
    @include mi.marginPercent(578, 6, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 4.64%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
