/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.materialMade {
    @include mi.marginPercent(1920, 46, auto, 0, auto);
    width: 100%;
    overflow: hidden;

    @include mi.mq(sp) {
        margin-top: 25.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.materialMadeWap {
    position: relative;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.brdLongMaterialMade {
    height: 2px;
    width: 900%;
    position: absolute;
    left: 0;
    top: 0;
}

.brdShortMaterialMade {
    @include mi.ontenerWidth(1920, 50);
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 50);
    }
}

.secMaterialMade {
    @include mi.paddingPercent(1300, 116, 0, 0, 0);

    @include mi.mq(sp) {
        padding: 19.21% 0% 0% 0%;
    }
}

.h2MaterialMade {
    @include mi.fontSizePc(24);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}

.txtMaterialMade {
    @include mi.ontenerWidth(1300, 805);
    @include mi.marginPercent(1300, 26, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 3.99%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
        width: 98.92%;
    }
}

.photosMaterialMade {
    @include mi.marginPercent(1300, 63, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 6.59%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.underPicBtmDefo {
    @include mi.paddingPercent(1920, 113, 0, 0, 0);
    @include mi.marginPercent(1920, 0, auto, 0, auto);
    background: #fff;

    @include mi.mq(sp) {
        padding: 30.33% 0% 0% 0%;
        @include mi.marginPercent(375, 0, auto, 0, auto);
    }

    .topPicUpOut {
        padding: 0;
    }
}