/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.tamaranVoice {
    @include mi.paddingPercent(1920, 0, 0, 163, 0);
    @include mi.mq(sp) {
        padding: 0% 0% 20.33% 0%;
    }
}
.tamaranVoiceWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.secTamaranVoice {
}
.h2TamaranVoice {
    @include mi.ontenerWidth(1300, 660);
    margin: auto;
    @include mi.mq(sp) {
        width: 100%;
    }
}
.ulTamaranVoiceLxn {
    @include mi.marginPercent(1300, 43, auto, 0, auto);
    position: relative;
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 25, auto, 0, auto);
    }
}
.ulTamaranVoice {
}
.liTamaranVoice {
    @include mi.paddingPercent(1300, 32, 0, 26, 0);
    @include mi.ontenerWidth(1300, 305);
    @include mi.kadomaru(10px);
    @include mi.mq(sp) {
        padding: 5.57% 0% 7.57% 0%;
        @include mi.ontenerWidth(330, 330);
        &:nth-child(n + 2) {
            margin-top: 7.46%;
            margin-bottom: 0%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.secLiTamaranVoice {
    @include mi.ontenerWidth(305, 258);
    margin: auto;
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 300);
    }
}
.h3LiTamaranVoice {
    @include mi.paddingPercent(300, 0, 0, 7, 0);
    @include mi.fontSizePc(18);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    border-bottom: 1px solid #eb5925;
    @include mi.mq(sp) {
        padding: 0% 0% 1.33% 0%;
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}
.rubyLiTamaranVoice {
    @include mi.marginPercent(305, 8, 0, 0, 0);
    @include mi.fontSizePc(12);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 1.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}
.txtLiTamaranVoice {
    @include mi.marginPercent(305, 13, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 3.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(11.5);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.picTamaranVoice {
    @include mi.ontenerWidth(1300, 111);
    position: absolute;
    bottom: -8%;
    right: 1%;
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 60);
        bottom: -7%;
        right: 5%;
    }
}
