/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.accessNav {
    @include mi.marginPercent(1920, 133, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 16.6%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.AccessNavWap {
}

.AccessNavBtm {
    @include mi.ontenerWidth(1300, 860);
    margin: auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}

.liAccessNavBtm {
    @include mi.ontenerWidth(860, 200);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 157);

        &:nth-child(n + 3) {
            margin: 3.5% 0% 0% 0%;
        }
    }
}

.btnAccessNavBtm {
    aspect-ratio: 200 / 51;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    text-decoration: none;

    @include mi.mq(sp) {
        aspect-ratio: 157 / 54;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
        border-bottom: 1px solid #d9d9d9;
        text-align: center;
        text-decoration: none;
    }
}
