/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.accessFlan {
    @include mi.marginPercent(1920, 93, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 11.33%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.accessFlanWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        @include mi.marginPercent(375, 0, auto, 0, auto);
    }
}

.secAccessFlan {
}

.h2AccessFlan {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}

.accessFlanFx {
    @include mi.marginPercent(1300, 65, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 7.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.photosAccessFlan {
    @include mi.ontenerWidth(1300, 570);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
    }
}

.ulPhotosAccessFlan {
    @include mi.marginPercent(570, 11, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 7, auto, 0, auto);
    }
}

.liPhotosAccessFlan {
    @include mi.ontenerWidth(570, 134);
    @include mi.marginPercent(570, 0, 11, 11, 0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 77);
        @include mi.marginPercent(330, 0, 7, 7, 0);
    }

    &:nth-child(4n) {
        @include mi.marginPercent(570, 0, 0, 11, 0);

        @include mi.mq(sp) {
            @include mi.marginPercent(330, 0, 0, 7, 0);
        }
    }
}

//
.mainAccessFlan {
    @include mi.ontenerWidth(1300, 629);
    margin: -0.3% 0 0 0;
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
        margin: 7% 0 0 0;
        border-top: 1px solid #d9d9d9;
    }
}

.ulMainAccessFlan {
}

.liMainAccessFlan {
    @include mi.paddingPercent(629, 0, 0, 19, 0);
    border-bottom: 1px solid #d9d9d9;

    @include mi.mq(sp) {
        padding: 3.7% 0% 4.3% 0%;
    }

    &:nth-child(n + 2) {
        @include mi.marginPercent(629, 18, 0, 0, 0);

        @include mi.mq(sp) {
            @include mi.marginPercent(330, 0, 0, 0, 0);
        }
    }
}

.h3MainAccessFlan {
    @include mi.ontenerWidth(629, 121);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 84);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.cntMainAccessFlan {
    @include mi.ontenerWidth(629, 508);

    @include mi.mq(sp) {
        flex-flow: row wrap;
        @include mi.ontenerWidth(330, 244);
    }
}

.txtCntMainAccessFlan {
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }

    a {
        color: #453c3c;
    }
}

.txtCntMainAccessFlan02 {
    @include mi.marginPercent(629, 0, 0, 0, 20);

    @include mi.mq(sp) {
        width: 100%;
        margin: 0.2% 0% 0% 0%;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.txtCntMainAccessFlanDouble {
    @include mi.marginPercent(629, -1, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(244, 0, 0, 0, 0);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }

    a {
        color: #453c3c;
    }
}

.txtCntMainAccessFlanList {
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(244, 0, 0, 0, 0);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.txtCntMainAccessFlanList02 {
    @include mi.marginPercent(629, 8, 0, 0, 0);

    @include mi.mq(sp) {
        margin: 4.19% 0% 0% 0%;
    }
}

.snsMainAccessFlan {
    width: 100%;
    margin: 1% 0 1% 1%;
    @include mi.mq(sp) {
        margin: 2% 0 2% 1%;
    }
}

.liSnsMainAccessFlan {
    @include mi.ontenerWidth(629, 40);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(244, 40);
    }

    &:nth-child(n + 2) {
        @include mi.marginPercent(629, 0, 0, 0, 10);

        @include mi.mq(sp) {
            @include mi.marginPercent(244, 0, 0, 0, 10);
        }
    }
}

//
.tyuiMainAccessFlan {
    @include mi.marginPercent(629, 20, auto, 0, auto);
    @include mi.paddingPercent(629, 17, 0, 17, 0);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
        padding: 3.06% 0% 3.06% 0%;
    }
}

.secTyuiMainAccessFlan {
    @include mi.ontenerWidth(629, 579);
    margin: auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 304);
    }
}

.h2TyuiMainAccessFlan {
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

.txtTyuiMainAccessFlan {
    @include mi.marginPercent(629, 4, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 1.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
