/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.accessFlanParking {
    @include mi.marginPercent(1920, 51, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 8.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.accessFlanParkingWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        @include mi.marginPercent(375, 0, auto, 0, auto);
    }
}

.secAccessFlanParking {
}

.h2AccessFlanParking {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}

.txtAccessFlanParking {
    @include mi.marginPercent(1300, 1, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
        text-align: left;
    }
}

.photoAccessFlanParking {
    @include mi.marginPercent(1300, 25, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 5.57%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
