/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.accessLocation {
    @include mi.marginPercent(1920, 100, auto, 0, auto);
    width: 100%;
    overflow: hidden;

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 70, auto, 0, auto);
    }
}

.accessLocationWap {
    position: relative;
    @include mi.paddingPercent(1920, 115, 0, 0, 0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        @include mi.marginPercent(375, 0, auto, 0, auto);
        position: relative;
        padding: 17.66% 0% 0% 0%;
    }
}

.brdLongAccessLocationWap {
    height: 2px;
    width: 900%;
    position: absolute;
    left: 0;
    top: 0;
}

.brdShortAccessLocationWap {
    @include mi.ontenerWidth(1920, 50);
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 50);
    }
}

.secAccessLocation {
}

.h2AccessLocation {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}

.rubyAccessLocation {
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
    @include mi.marginPercent(1300, 1, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
        margin-top: 2%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.photosAccessLocation {
    @include mi.marginPercent(1300, 26, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 7.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
