/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.accessShops {
    @include mi.marginPercent(1920, 70, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 45, auto, 0, auto);
    }
}

.accessShopsWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}

.accessShopsFx {
    @include mi.mq(sp) {
        justify-content: space-between;
    }
}

.liAccessShops {
    @include mi.ontenerWidth(1300, 291);
    @include mi.marginPercent(1300, 0, 45, 50, 0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 157);
        @include mi.marginPercent(330, 0, 0, 0, 0);
    }

    &:nth-child(4n) {
        @include mi.marginPercent(1300, 0, 0, 50, 0);

        @include mi.mq(sp) {
            @include mi.marginPercent(330, 0, 0, 0, 0);
        }
    }

    @include mi.mq(sp) {
        &:nth-child(n+3) {
            @include mi.marginPercent(330, 40, 0, 0, 0);
        }
    }
}

.photoAccessShops {}

.h3AccessShops {
    @include mi.marginPercent(291, 10, 0, 0, 0);
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);

    @include mi.mq(sp) {
        @include mi.marginPercent(157, 14, 0, 0, 0);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.h4AccessShops {
    @include mi.marginPercent(291, 7, 0, 0, 0);
    @include mi.fontSizePc(15);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(157, 10, 0, 0, 0);
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.txtAccessShops {
    @include mi.marginPercent(291, 8, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
    aspect-ratio: 291 / 75;

    @include mi.mq(sp) {
        @include mi.marginPercent(157, 16, 0, 0, 0);
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
        aspect-ratio: 157 / 80;
    }
}

.btnAccessShopsLxn {
    @include mi.marginPercent(291, 20, auto, 0, auto);
    @include mi.ontenerWidth(291, 145);

    @include mi.mq(sp) {
        @include mi.marginPercent(157, 15, auto, 0, auto);
        @include mi.ontenerWidth(157, 100);
    }
}

.btnAccessShops {
    width: 100%;
    aspect-ratio: 145 / 35;
    @include mi.kadomaru(30px);
    border: 1px solid #F04E11;
    text-decoration: none;

    @include mi.mq(sp) {
        width: 100%;
        aspect-ratio: 100 / 25;
    }
}

.icnBtnAccessShops {
    display: block;
    text-align: center;
    @include mi.ontenerWidth(145, 125);
    margin: auto;
    @include mi.fontSizePc(12);
    @include mi.lineheightP(100);
    @include mi.letterSpacing(0);
    background: url(../img/access/icnBtnAccessShops.svg) no-repeat right center;
    background-size: auto 20%;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(100, 80);
        margin: auto;
        @include mi.fontSizeSp(10);
        @include mi.lineheightP(100);
        @include mi.letterSpacing(0);
        background: url(../img/access/icnBtnAccessShops.svg) no-repeat right center;
        background-size: auto 80%;
        text-align: left;
    }
}