/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.partyPlanNav {
    @include mi.marginPercent(1920, 70, auto, 0, auto);
    @include mi.mq(sp) {
        @include mi.marginPercent(375, 100, auto, 0, auto);
    }
}

.partyPlanNavWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}

.PartyPlanNavBtm {
}

.ulPartyPlanNavBtm {
    flex-flow: row wrap;
}

.liPartyPlanNavBtm {
    @include mi.ontenerWidth(1300, 200);
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 103);
        &:nth-child(n + 4) {
            @include mi.marginPercent(330, 18, auto, 0, auto);
        }
    }
}

.btnPartyPlanNavBtm {
    aspect-ratio: 200 / 51;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    text-decoration: none;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        aspect-ratio: 103/39;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
