/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.partyPlanNav {
    @include mi.marginPercent(1920, 53, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 23.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.partyPlanNavWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}

.PartyPlanNavBtm {
}

.ulPartyPlanNavBtm {
    flex-flow: row wrap;
}

.liPartyPlanNavBtm {
    @include mi.ontenerWidth(1300, 200);
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 103);
        &:nth-child(n + 4) {
            margin-top: 4%;
            margin-bottom: 0%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.btnPartyPlanNavBtm {
    padding: 0% 0 6% 0;
    aspect-ratio: 200 / 59;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    text-decoration: none;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        padding: 0% 0 5% 0;
        aspect-ratio: 103/46;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
