/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.partyPlan {
    @include mi.marginPercent(1920, 70, auto, 0, auto);
    @include mi.paddingPercent(1920, 98, 0, 100, 0);
    border-radius: 0 5.208333333333333vw 0 0;
    @include mi.mq(sp) {
        @include mi.marginPercent(375, 50, auto, 0, auto);
        @include mi.paddingPercent(375, 68, 0, 70, 0);
        border-radius: 0 26.666666666666668vw 0 0;
    }
}

.partyPlanWap {
    @include mi.mq(sp) {
    }
}

.partyPlanLxn {
    @include mi.ontenerWidth(1300, 1100);
    margin: auto;
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.h2PartyPlan {
    width: 100%;
}

.photoPartyPlan {
    @include mi.marginPercent(1100, 45, auto, 0, auto);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 38, auto, 0, auto);
    }
}

.secDetailPartyPlan {
    @include mi.marginPercent(1100, 18, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 3.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.titleDetailPartyPlan {
}

.iconTitleDetailPartyPlan {
    @include mi.ontenerWidth(1100, 16);
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 16);
    }
}

.h3TitleDetailPartyPlan {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(140);
    @include mi.letterSpacing(0);
    @include mi.marginPercent(1100, 0, 0, 0, 10);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
        @include mi.marginPercent(330, 0, 0, 0, 7);
    }
}

.txtTitleDetailPartyPlan {
    @include mi.marginPercent(1100, 20, 0, 0, 0);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(24);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 1.15%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.menuExeDetailPartyPlan {
    @include mi.marginPercent(1100, 35, 0, 0, 0);
    @include mi.mq(sp) {
        margin: 4% 0% 0% 0%;
    }
}

.secMenuExeDetailPartyPlan {
    @include mi.ontenerWidth(1100, 351);
    @include mi.mq(sp) {
        width: 100%;
    }
}

.h3MenuExeDetailPartyPlan {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(175);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.txtMenuExeDetailPartyPlan {
    margin: 2% 0 0 0;
    @include mi.fontSizePc(16);
    @include mi.lineheightP(175);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin: 0% 0 0 0;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

//
.tyuiMenuExeDetailPartyPlan {
    margin: 0.8% 0 0 0;
    @include mi.ontenerWidth(1100, 748);
    @include mi.mq(sp) {
        margin-top: 6%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.txtTyuiMenuExeDetailPartyPlan {
    @include mi.fontSizePc(14);
    @include mi.lineheight(14, 24);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}

.txtTyuiMenuExeDetailPartyPlan02 {
    @include mi.marginPercent(748, 14, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}

//
.ulDetailPartyPlanOther {
    @include mi.marginPercent(1100, 38, 0, 0, 0);
    @include mi.mq(sp) {
        margin-top: 8.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.liDetailPartyPlanOther {
    @include mi.ontenerWidth(1100, 330);

    @include mi.mq(sp) {
        width: 100%;
        &:nth-child(n + 2) {
            margin: 7% 0 0 0;
        }
    }
}

.titleDetailPartyPlanOther {
    @include mi.marginPercent(330, 16, 0, 0, 0);
    @include mi.mq(sp) {
        margin-top: 4.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.iconTitleDetailPartyPlanOther {
    @include mi.ontenerWidth(330, 16);
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 16);
    }
}

.h3TitleDetailPartyPlanOther {
    @include mi.marginPercent(330, 0, 0, 0, 5);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 0, 0, 0, 7);
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}

.txtTitleDetailPartyPlanOther {
    @include mi.marginPercent(330, 8, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 2%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.txtTitleDetailPartyPlanOther02 {
    @include mi.marginPercent(330, 8, 0, 0, 0);
    @include mi.fontSizePc(12);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}

.txtTitleDetailPartyPlanOther03 {
    @include mi.marginPercent(330, 5, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin: 1.54% 0% 0% 0%;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}
.urlTitleDetailPartyPlanOther03 {
    @include mi.fontSizePc(14);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    text-decoration: underline;
    @include mi.mq(sp) {
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}
.btnDetailPartyPlanOtherLxn {
    @include mi.marginPercent(1100, 36, auto, 0, auto);
    @include mi.ontenerWidth(1100, 260);
    @include mi.mq(sp) {
        margin-top: 11.24%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 68.78%;
    }
}
.btnDetailPartyPlanOther {
    @include mi.kadomaru(30px);
    aspect-ratio: 260/50;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    text-decoration: none;
    @include mi.mq(sp) {
        aspect-ratio: 260/50;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}

//
.txtDetailPartyPlanOther {
    @include mi.marginPercent(1300, 34, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(0);
    @include mi.ontenerWidth(1300, 1100);
    @include mi.mq(sp) {
        @include mi.marginPercent(375, 45, auto, 0, auto);
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
        @include mi.ontenerWidth(375, 330);
    }
}
