/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.mainToicsPost {
    @include mi.marginPercent(1920, 35, auto, 0, auto);
    @include mi.mq(sp) {
        @include mi.marginPercent(375, 60, auto, 0, auto);
    }
}

.singleBread {
    display: flex;
    flex-flow: row wrap;
    gap: 0.1vw 0.5vw;
    color: #929292;
    @include mi.fontSizePc(12);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        @include mi.marginPercent(375, 15, auto, 0, auto);
        @include mi.ontenerWidth(375, 330);
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
    a,
    span {
        color: #929292;
        text-decoration: none;
    }
}
