/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.mainVoice {
    @include mi.marginPercent(1920, 138, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 6.9%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.voiceFv {
}
.voiceFvWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.secVoiceWap {
}
.h2VoiceFvWap {
    @include mi.fontSizePc(60);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(36);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}
.h3VoiceFvWap {
    @include mi.marginPercent(1300, -4, 0, 0, 0);
    @include mi.fontSizePc(24);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);
    @include mi.mq(sp) {
        margin: -3.46% 0% 0% 0%;
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.bordVoiceFvWap {
    position: relative;
    @include mi.marginPercent(1920, 45, auto, 0, auto);
    @include mi.paddingPercent(1920, 25, 0, 0, 0);

    @include mi.mq(sp) {
        margin-top: 13%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        padding: 3.5% 0% 0% 0%;
    }
}
.brdLongBordVoiceFvWap {
    height: 2px;
    width: 900%;
    position: absolute;
    left: 0;
    top: 0;
}
.brdShortBordVoiceFvWap {
    @include mi.ontenerWidth(1920, 50);
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 50);
    }
}
