/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.voiceAllPosts {
    @include mi.marginPercent(1920, 69, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 18.33%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.voiceAllPostsWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.txtVoiceAllPosts {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.brdVoiceAllPosts {
    @include mi.marginPercent(1300, 25, auto, 0, auto);
    height: 1px;
    width: 100%;
    @include mi.mq(sp) {
        margin-top: 1.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
