/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.brdHeaderSp {
    @include mi.heightVwSp(4);
}

.headerSpFx {
    @include mi.paddingPercent(375, 8, 11, 8, 10);
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.btnHeaderSp {
    @include mi.ontenerWidth(354, 92);
}

.navHeaderSp {
    @include mi.marginPercent(354, 0, 0, 0, auto);
    @include mi.ontenerWidth(354, 177);
}

.ulNavHeaderSp {
    @include mi.ontenerWidth(177, 138);
}

.liNavHeaderSp {
    @include mi.ontenerWidth(138, 65);
}

.btnNavHeaderSp {
    width: 100%;
}

.btnNavOpenSp {
    width: 15.29%;
    cursor: pointer;
}
