/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.headerMenuSp {
    @include mi.paddingPercent(375, 20, 0, 50, 0);
    position: fixed;
    width: 100%;
    top: 0;
    right: -100%;
    height: 100vh;
    opacity: 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);

    &::-webkit-scrollbar {
        display: none;
    }
}

.headerMenuSpLxn {}

.closeMenuSp {
    position: absolute;
    right: 5%;
    top: 0%;
    @include mi.ontenerWidth(375, 20);
    cursor: pointer;
}

.navHeaderMenuSpBx {
    margin: auto;
    padding: 14.5% 0% 0% 0%;
    @include mi.ontenerWidth(375, 280);
}

.ulNavHeaderMenuSpBx {}

.liNavHeaderMenuSpBx {
    &:nth-child(n + 2) {
        margin: 8.8% 0% 0% 0%;
    }
}

.btnNavHeaderMenuSpBx {
    @include mi.fontSizeSp(15);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    text-decoration: none;

    &:nth-child(n + 2) {
        margin-top: 5.27%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.brdNavHeaderSp {
    margin-top: 11.79%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 100%;
}

.ulHeaderFixedBxSp {
    margin-top: 12%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

.ulHeaderFixedBxSp02 {
    margin-top: 11.79%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

.liHeaderFixedBxSp {
    @include mi.ontenerWidth(290, 290);

    &:nth-child(n + 2) {
        @include mi.marginPercent(290, 24, auto, 0, auto);
    }
}

.liHeaderFixedBxSp02 {
    &:nth-child(n + 2) {
        margin: 4.8% 0% 0% 0%;
        width: 100%;
    }
}

.btnHeaderFixedBxSp {
    @include mi.marginPercent(290, 40, auto, 0, auto);
    @include mi.ontenerWidth(290, 290);
    text-decoration: none;
    @include mi.fontSizeSp(13);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(60);
}

.telContactSpHeader {
    margin-top: 12.79%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

.liTelContactSpHeader {
    @include mi.ontenerWidth(290, 290);

    &:nth-child(n + 2) {
        @include mi.marginPercent(290, 16, auto, 0, auto);
    }
}

.btnTelContactSpHeader {}

.txtnavHeaderMenuSpLast {
    margin-top: 3.89%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    @include mi.fontSizeSp(12);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
}