/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topFv {
    position: relative;
    overflow: hidden;
}

.topFvScroll {
    position: absolute;
    width: 8px;
    top: 50%;
    left: 2%;
    z-index: 3;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 6);

    }
}

.container_05 {
    width: 100%;
    height: 110px;
    position: relative;

    @include mi.mq(sp) {
        height: 112px;
    }
}

.picTopFvScroll {
    @include mi.mq(sp) {}
}

.scrollbar_05 {
    @include mi.marginPercent(339, 6, auto, 0, auto);
    left: 50%;
    transform: translateX(-50%);
    bottom: 1px;
    height: 100%;
    width: 1px;

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 8, auto, 0, auto);
    }
}

.scrollbar_05::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1px;
    height: 100px;
    background: #421D12;
    animation: liner 2.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes liner {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    30% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    70% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

.topMovie {
    position: relative;
    @include mi.ontenerWVw(1920, 1698);
    margin: 0 0 0 auto;
    aspect-ratio: 1698/884;
    overflow: hidden;
    border-radius: 6vw 0 0 6vw;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 350);
        aspect-ratio: 350/660;
        border-radius: 6vw 0 0 0;

    }

}

.topMovie video {
    width: 100%;
    height: 100%;
    position: absolute;

}

.picTopMovie {
    @include mi.ontenerWVw(1920, 303);
    position: absolute;
    left: 10%;
    top: 30%;
    z-index: 2;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 186);
        top: 65%;
    }
}