/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.topTopics {
    @include mi.marginPercent(1920, 42, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 60, auto, 0, auto);
    }
}

.topTopicsWap {
    @include mi.mq(tab) {
        width: 95%;
    }
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}

.h2CntTopTopix {
    text-align: center;
    @include mi.fontSizePc(25);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(24);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(50);
    }
}

.sliderTopTopics {
    @include mi.marginPercent(1300, 28, auto, 0, auto);
    position: relative;

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
    }
}

.jsSliderTopTopics {
    position: relative;
}

/*矢印*/
.nextSliderTopTopics:after,
.prevSliderTopTopics:after {
    display: none;
}

.prevSliderTopTopics {
    aspect-ratio: 1/1;
    @include mi.ontenerWidth(1300, 50);
    background: url(../img/index/btnprevSliderTopTopics.svg) no-repeat center
        center;
    background-size: 100% 100%;
    left: -2%;
    top: 24%;
    z-index: 9;
    height: auto;
    position: absolute;
    aspect-ratio: 1/1;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 31);
        left: -5%;
    }
}

.nextSliderTopTopics {
    aspect-ratio: 1/1;
    @include mi.ontenerWidth(1300, 50);
    background: url(../img/index/btnnrxtSliderTopTopics.svg) no-repeat center
        center;
    background-size: 100% 100%;
    right: -2%;
    top: 24%;
    z-index: 9;
    height: auto;
    position: absolute;
    aspect-ratio: 1/1;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 31);
        right: -5%;
    }
}

.sliderTopTopics .swiper-slide {
    @include mi.ontenerWidth(1300, 398);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
    }
}
.btnAction {
    text-decoration: none;
    transition-duration: 0.3s;
    img {
        overflow: hidden;
        transition-duration: 0.3s;
    }
    &:hover {
        text-decoration: underline;
        color: #453c3c;
        opacity: 1;
        img {
            transform: scale(1.03);
        }
    }
}

.picSliderTopTopics {
    @include mi.kadomaru(10px);
    overflow: hidden;
    aspect-ratio: 398/200;
    position: relative;

    @include mi.mq(sp) {
        @include mi.kadomaru(7px);
    }
}

.h3SliderTopTopics {
    @include mi.marginPercent(398, 10, 0, 0, 0);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(140);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 13, 0, 0, 0);
        @include mi.fontSizeSp(14);
        line-height: 1.5;
        @include mi.letterSpacing(0);
    }
}

.timeSliderTopTopics {
    @include mi.marginPercent(398, 9, 0, 0, 0);
    @include mi.fontSizePc(12);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 9, 0, 0, 0);
        @include mi.fontSizeSp(10);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}

//ボタン
.btnTopTopicsLxn {
    @include mi.marginPercent(1300, 17, auto, 0, auto);
    @include mi.ontenerWidth(1300, 200);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
        @include mi.ontenerWidth(330, 200);
    }
}

.btnTopTopics {
    width: 100%;
    @include mi.kadomaru(30px);
    border: 1px solid #f04e11;
    aspect-ratio: 200/40;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.6;

    @include mi.mq(sp) {
        @include mi.kadomaru(30px);
        aspect-ratio: 200/40;
    }

    &:hover {
        opacity: 0.6;
    }
}

.iconBtnTopTopics {
    @include mi.ontenerWidth(200, 180);
    margin: auto;
    background: url(../img/index/iconBtnTopTopics.svg) no-repeat right center;
    background-size: auto 20%;
    text-align: center;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(193, 163);
        margin: auto;
        background: url(../img/index/iconBtnTopTopics.svg) no-repeat right
            center;
        background-size: auto 20%;
    }
}
