/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topAbout {
    position: relative;
    overflow: hidden;
    @include mi.marginPercent(1920, 206, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 29.72%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.cntTopAbout {
    @include mi.paddingVw(1920, 0, 0, 343, 0);

    @include mi.mq(sp) {
        @include mi.paddingVw(1920, 0, 0, 0, 0);

        @include mi.marginPercent(375, 0, auto, 0, auto);
    }
}

.secCntTopAbout {
    @include mi.ontenerWidth(1300, 398);
    margin: 0 0 0 0;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.h2CntTopAbout {
    @include mi.fontSizePc(40);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(36);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(100);
    }
}

.rubyCntTopAbout {
    @include mi.marginPercent(398, 0, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(130);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 0, auto, 0, auto);
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}

.h3CntTopAbout {
    @include mi.marginPercent(398, 66, auto, 0, auto);
    @include mi.fontSizePc(26);
    @include mi.lineheightP(210);
    @include mi.letterSpacing(20);

    @include mi.mq(sp) {
        margin-top: 12.2%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(200);
        @include mi.letterSpacing(20);
    }
}

.txtCntTopAbout {
    @include mi.marginPercent(398, 35, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 5.81%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

.btnCntTopAboutLxn {
    @include mi.marginPercent(398, 34, 0, 0, 0);
    @include mi.ontenerWidth(398, 200);

    @include mi.mq(sp) {
        margin-top: 12%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 60.48%;
    }
}

.btnCntTopAbout {
    aspect-ratio: 200 / 40;
    @include mi.kadomaru(30px);
    border: 1px solid #f04e11;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    text-decoration: none;

    @include mi.mq(sp) {
        aspect-ratio: 193 / 39;
        @include mi.kadomaru(30px);
        border: 1px solid #f04e11;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}

.iconBbtnCntTopAbouts {
    @include mi.ontenerWidth(200, 184);
    margin: auto;
    background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right
        center;
    background-size: auto 20%;
    display: block;
    text-align: center;

    @include mi.mq(sp) {
        width: 90.45%;
        margin: auto;
        background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right
            center;
        background-size: auto 16%;
    }
}

.picMainTopAbout {
    @include mi.ontenerWVw(1920, 1142);
    position: absolute;
    right: 0;
    top: 2%;

    @include mi.mq(sp) {
        margin-top: 11.12%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
    }

    img {
        width: 100%;
    }
}
