/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topMade {
    @include mi.marginPercent(1920, 226, auto, 0, auto);
    @include mi.paddingPercent(1920, 406, 0, 411, 0);
    background: url(../img/index/topMadePc.png) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;

    @include mi.mq(sp) {
        margin-top: 23.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        padding: 46.33% 0% 49.6% 0%;
        background: url(../img/index/topMadeSp.png) no-repeat center top;
        background-size: cover;
        background-attachment: scroll;
    }
}

.secTopMade {
}

.h2TopMade {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(40);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(200);
        @include mi.letterSpacing(0);
    }
}

.rubyTopMade {
    @include mi.marginPercent(1300, 9, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheight(auto, auto);
    letter-spacing: 1.2;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheight(auto, auto);
    }
}
