/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topKikkake {
    @include mi.marginPercent(1920, 267, auto, 0, auto);
    overflow: hidden;
    position: relative;

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 80, auto, 0, auto);
    }
}

.picMainTopKikkake {
    @include mi.ontenerWVw(1920, 1142);
    position: absolute;
    left: 0;
    top: 0.8%;

    @include mi.mq(sp) {
        position: relative;
        width: 100%;
    }

    img {
        width: 100%;
    }
}

.topKikkakeWp {
    @include mi.paddingVw(1920, 0, 0, 343, 0);

    @include mi.mq(sp) {
        @include mi.paddingVw(1920, 0, 0, 0, 0);

        @include mi.marginPercent(375, 40, auto, 0, auto);
    }
}

.cntTopKikkake {
    @include mi.ontenerWidth(1300, 398);
    margin: 0 0 0 auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.secCntTopKikkake {
}

.h2CntTopKikkake {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(50);
    }
}

.rubyCntTopKikkake {
    @include mi.marginPercent(398, 0, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        margin-top: 1.24%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}

.h3CntTopKikkake {
    @include mi.marginPercent(398, 66, auto, 0, auto);
    @include mi.fontSizePc(26);
    @include mi.lineheightP(210);
    @include mi.letterSpacing(20);

    @include mi.mq(sp) {
        margin-top: 5.21%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(200);
        @include mi.letterSpacing(20);
    }
}

.txtCntTopKikkake {
    @include mi.marginPercent(398, 35, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 5.81%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

.btnCntTopKikkakeLxn {
    @include mi.marginPercent(398, 34, 0, 0, 0);
    @include mi.ontenerWidth(398, 200);

    @include mi.mq(sp) {
        margin-top: 11.54%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 60.48%;
    }
}

.btnCntTopKikkake {
    aspect-ratio: 200 / 40;
    @include mi.kadomaru(30px);
    border: 1px solid #f04e11;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    text-decoration: none;

    @include mi.mq(sp) {
        aspect-ratio: 193 / 39;
        @include mi.kadomaru(30px);
        border: 1px solid #f04e11;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}

.iconBbtnCntTopKikkakes {
    @include mi.ontenerWidth(200, 180);
    margin: auto;
    background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right
        center;
    background-size: auto 16%;
    display: block;
    text-align: center;

    @include mi.mq(sp) {
        width: 89.45%;
        margin: auto;
        background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right
            center;
        background-size: auto 16%;
    }
}
