/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topCollection {
    @include mi.marginPercent(1920, 175, auto, 0, auto);
    overflow: hidden;
    width: 100%;

    @include mi.mq(sp) {
        margin-top: 27.33%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.topCollectionWap {
    position: relative;
    @include mi.paddingPercent(1920, 82, 0, 0, 0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
        padding: 15.33% 0% 0% 0%;
    }
}

.brdLongTopCollection {
    height: 2px;
    width: 900%;
    position: absolute;
    left: 0;
    top: 0;
}

.brdShortTopCollection {
    @include mi.ontenerWidth(1920, 50);
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 50);
    }
}

.titleTopCollection {
}

.h2TitleTopCollection {
    @include mi.fontSizePc(40);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(36);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(100);
    }
}

.rubyTitleTopCollection {
    @include mi.marginPercent(1300, 0, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        margin-top: -2%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}

.ulTitleTopCollection {
    @include mi.marginPercent(1300, 34, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 8.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.liTitleTopCollection {
    @include mi.ontenerWidth(1300, 400);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);

        &:nth-child(n + 2) {
            margin-top: 16%;
            margin-bottom: 0%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.txtTopCollection {
    @include mi.marginPercent(400, 22, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 4.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.btnCntTopCollectionLxn {
    @include mi.marginPercent(1300, 34, auto, 0, auto);
    @include mi.ontenerWidth(1300, 200);

    @include mi.mq(sp) {
        margin-top: 10.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 60.48%;
    }
}

.btnCntTopCollection {
    aspect-ratio: 200 / 40;
    @include mi.kadomaru(30px);
    border: 1px solid #f04e11;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    text-decoration: none;

    @include mi.mq(sp) {
        aspect-ratio: 193 / 37;
        @include mi.kadomaru(30px);
        border: 1px solid #f04e11;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}

.iconBbtnCntTopCollections {
    @include mi.ontenerWidth(200, 180);
    margin: auto;
    background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right
        center;
    background-size: auto 20%;
    display: block;
    text-align: center;

    @include mi.mq(sp) {
        width: 89.45%;
        margin: auto;
        background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right
            center;
        background-size: auto 20%;
    }
}
