/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topCollection {
    @include mi.marginPercent(1920, 175, auto, 0, auto);
    overflow: hidden;
    width: 100%;

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 50, auto, 0, auto);
    }
}

.topCollectionWap {
    position: relative;
    @include mi.paddingPercent(1920, 79, 0, 0, 0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
        @include mi.paddingPercent(375, 50, 0, 0, 0);
    }
}

.brdLongTopCollection {
    height: 2px;
    width: 900%;
    position: absolute;
    left: 0;
    top: 0;
}

.brdShortTopCollection {
    @include mi.ontenerWidth(1920, 50);
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 50);
    }
}

.titleTopCollection {}

.h2TitleTopCollection {
    @include mi.fontSizePc(40);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(36);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}

.rubyTitleTopCollection {
    @include mi.marginPercent(1300, 20, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 16, auto, 0, auto);
        @include mi.fontSizeSp(16);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}

.ulTitleTopCollection {
    @include mi.marginPercent(1300, 40, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 30, auto, 0, auto);
    }
}

.liTitleTopCollection {
    @include mi.ontenerWidth(1300, 400);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);

        &:nth-child(n+2) {
            @include mi.marginPercent(330, 60, auto, 0, auto);
        }
    }
}

.txtTopCollection {
    @include mi.marginPercent(400, 30, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.btnCntTopCollectionLxn {
    @include mi.marginPercent(1300, 62, auto, 0, auto);
    @include mi.ontenerWidth(1300, 193);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 30, auto, 0, auto);
        @include mi.ontenerWidth(330, 193);
    }
}

.btnCntTopCollection {
    aspect-ratio: 193 / 39;
    @include mi.kadomaru(30px);
    border: 1px solid #F04E11;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    text-decoration: none;

    @include mi.mq(sp) {
        aspect-ratio: 193 / 39;
        @include mi.kadomaru(30px);
        border: 1px solid #F04E11;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}

.iconBbtnCntTopCollections {
    @include mi.ontenerWidth(193, 163);
    margin: auto;
    background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right center;
    background-size: auto 20%;
    display: block;
    text-align: center;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(193, 163);
        margin: auto;
        background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right center;
        background-size: auto 20%;
    }
}