/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topPicUpOut {
    @include mi.paddingPercent(1920, 58, auto, 0, auto);
    background: #fff;

    @include mi.mq(sp) {
        padding-top: 8.33%;
        padding-bottom: 0%;
        padding-left: 0;
        padding-right: 0;
    }
}

.topPicUpWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.secTopPickUp {
}

.h2TopPickUp {
    @include mi.fontSizePc(40);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(24);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}

.topPicUpLxn {
    @include mi.marginPercent(1300, 30, auto, 0, auto);
    position: relative;

    @include mi.mq(sp) {
        margin-top: 2.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.topPicUp {
    position: relative;
    @include mi.paddingPercent(1200, 0, 0, 58, 0);

    @include mi.mq(sp) {
        padding: 0% 0% 10.09% 0%;
    }
}

.topPicUp .swiper-slide {
}

.btnTopLimited {
}

.picSliderTopLimitedPick {
    @include mi.kadomaru(6px);
    overflow: hidden;
    aspect-ratio: 406/257;

    @include mi.mq(sp) {
        @include mi.kadomaru(3px);
    }
}

//

.topPicUpScrollbar {
    background: #f1ece8;
    @include mi.kadomaru(3px);
    overflow: hidden;
    height: 10px !important;
    padding: 2px 0;

    @include mi.mq(sp) {
    }
}

.slider__btn02 {
    background: #421d12;
    @include mi.kadomaru(3px);
    height: 6px !important;
    cursor: pointer;
}
