/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topNav {
    @include mi.marginPercent(1920, 98, auto, 0, auto);
    @include mi.paddingPercent(1920, 0, 0, 0, 0);

    @include mi.mq(sp) {
        margin-top: 12.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        padding: 0% 0% 12% 0%;
    }
}

.topNavWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}

.ulTopNav {
}

.liTopNav {
    @include mi.ontenerWidth(1300, 305);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 158);
    }

    &:nth-child(n + 3) {
        @include mi.mq(sp) {
            margin: 2.7% 0% 0% 0%;
        }
    }

    &:nth-child(n + 5) {
        @include mi.marginPercent(1300, 44, 0, 0, 0);

        @include mi.mq(sp) {
            margin: 2.7% 0% 0% 0%;
        }
    }
}

.btnliTopNav {
    text-decoration: none;
}

.h3TopNav {
    @include mi.marginPercent(305, 13, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(140);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 2.32%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
