/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topInstagram {
    @include mi.marginPercent(1920, 100, auto, 0, auto);
    overflow: hidden;
    width: 100%;

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 0, auto, 0, auto);
    }
}

.topInstagramWap {
    position: relative;
    @include mi.paddingPercent(1920, 65, 0, 0, 0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
        padding: 11.33% 0% 0% 0%;
    }
}

.brdLongTopInstagram {
    height: 2px;
    width: 900%;
    position: absolute;
    left: 0;
    top: 0;
}

.brdShortTopInstagram {
    @include mi.ontenerWidth(1920, 50);
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 50);
    }
}

.titleTopInstagram {
}

.h2TopInstagram {
    @include mi.fontSizePc(32);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(24);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(80);
    }
}

.txtTopInstagram {
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);
    @include mi.marginPercent(1300, 0, 0, 0, 15);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 0, 0, 0, 0);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(100);
    }
}

.instagramFeed {
    @include mi.marginPercent(1300, 24, 0, 0, 0);

    @include mi.mq(sp) {
        margin: 7.5% 0% 0% 0%;
    }

    #sb_instagram #sbi_images {
        padding: 0 !important;
        display: flex;
        justify-content: space-between !important;
    }

    #sbi_images {
        gap: 0 !important;
        display: flex;
        justify-content: space-between !important;
    }

    #sb_instagram #sbi_images {
    }

    #sb_instagram #sbi_images .sbi_item {
        @include mi.ontenerWidth(1300, 151);

        @include mi.mq(sp) {
            @include mi.ontenerWVw(375, 100);
        }
    }
}

.btnCntTopInstagramLxn {
    @include mi.marginPercent(1300, 23, auto, 0, auto);
    @include mi.ontenerWidth(1300, 200);

    @include mi.mq(sp) {
        margin-top: 6.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.ontenerWidth(330, 193);
    }
}

.btnCntTopInstagram {
    aspect-ratio: 200 / 40;
    @include mi.kadomaru(30px);
    border: 1px solid #f04e11;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    text-decoration: none;

    @include mi.mq(sp) {
        aspect-ratio: 193 / 39;
        @include mi.kadomaru(30px);
        border: 1px solid #f04e11;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}

.iconBbtnCntTopInstagrams {
    @include mi.ontenerWidth(200, 180);
    margin: auto;
    background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right
        center;
    background-size: auto 16%;
    display: block;
    text-align: center;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(193, 163);
        margin: auto;
        background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right
            center;
        background-size: auto 14%;
    }
}
