/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topGifts {
    @include mi.marginPercent(1920, 53, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 100, auto, 0, auto);
    }
}

.topGiftsWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.titleTopGifts {
}

.h2TitleTopGifts {
    @include mi.fontSizePc(32);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(24);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}

.txtTitleTopGifts {
    @include mi.marginPercent(1300, 0, 0, 0, 15);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, 0, 0, 0);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.ulTopGifts {
    @include mi.marginPercent(1300, 24, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 30, 0, 0, 0);
    }
}

.liTopGifts {
    @include mi.ontenerWidth(1300, 620);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
    }

    &:nth-child(n + 2) {
        @include mi.mq(sp) {
            @include mi.marginPercent(330, 18, 0, 0, 0);
        }
    }

    &:nth-child(n + 3) {
        @include mi.marginPercent(1300, 26, 0, 0, 0);

        @include mi.mq(sp) {
            @include mi.marginPercent(330, 18, 0, 0, 0);
        }
    }
}

.btnLiTopGifts {
}

.picBtnLiTopGifts {
    @include mi.ontenerWidth(620, 134);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 134);
    }
}

.secBtnLiTopGifts {
    @include mi.ontenerWidth(620, 467);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 177);
    }
}

.h3BtnLiTopGifts {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(15);
        @include mi.lineheightP(140);
        @include mi.letterSpacing(0);
    }
}

.txtBtnLiTopGifts {
    @include mi.marginPercent(467, 4, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(177, 15, auto, 0, auto);
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(130);
        @include mi.letterSpacing(0);
    }
}

.btnCntTopGiftsLxn {
    @include mi.marginPercent(1300, 24, auto, 0, auto);
    @include mi.ontenerWidth(1300, 193);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 30, auto, 0, auto);
        @include mi.ontenerWidth(330, 193);
    }
}

.btnCntTopGifts {
    aspect-ratio: 193 / 39;
    @include mi.kadomaru(30px);
    border: 1px solid #f04e11;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    text-decoration: none;

    @include mi.mq(sp) {
        aspect-ratio: 193 / 39;
        @include mi.kadomaru(30px);
        border: 1px solid #f04e11;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}

.iconBbtnCntTopGiftss {
    @include mi.ontenerWidth(193, 163);
    margin: auto;
    background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right
        center;
    background-size: auto 14%;
    display: block;
    text-align: center;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(193, 163);
        margin: auto;
        background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right
            center;
        background-size: auto 20%;
    }
}
