/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topContact {
    @include mi.paddingPercent(1920, 78, 0, 84, 0);
    @include mi.marginPercent(1920, 125, auto, 0, auto);

    @include mi.mq(sp) {
        padding: 12.46% 0% 14.66% 0%;
        margin-top: 33.51%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.topContactWap {
}

.h2TopContact {
    @include mi.fontSizePc(42);
    @include mi.lineheightP(130);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(35);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(100);
    }
}

.rubyTopContact {
    @include mi.marginPercent(1300, -6, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 0, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.txtTopContact {
    @include mi.marginPercent(1300, 29, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);

    @include mi.mq(sp) {
        margin-top: 7.93%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}

.ulTopContact {
    @include mi.marginPercent(1300, 61, auto, 0, auto);
    @include mi.ontenerWidth(1300, 834);

    @include mi.mq(sp) {
        margin-top: 9.13%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.ontenerWidth(375, 260);
    }
}

.liTopContact {
    @include mi.ontenerWidth(834, 260);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(260, 260);

        &:nth-child(n + 2) {
            @include mi.marginPercent(260, 20, auto, 0, auto);
        }
    }
}

.btnTopContact {
    @include mi.kadomaru(30px);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(100);
    @include mi.letterSpacing(0);
    aspect-ratio: 260 / 50;
    text-decoration: none;

    @include mi.mq(sp) {
        @include mi.kadomaru(30px);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
        aspect-ratio: 260 / 50;
        text-decoration: none;
    }
}

.btnTopContact02 {
    @include mi.kadomaru(30px);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(100);
    @include mi.letterSpacing(0);
    aspect-ratio: 260 / 50;
    text-decoration: none;

    @include mi.mq(sp) {
        @include mi.kadomaru(30px);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
        aspect-ratio: 260 / 50;
        text-decoration: none;
    }
}

.txtBtnTopContact0201 {
    width: 100%;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(100);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(100);
    }
}

.txtBtnTopContact0202 {
    width: 100%;
    @include mi.marginPercent(260, -5, auto, 0, auto);
    @include mi.fontSizePc(13);
    @include mi.lineheightP(100);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        margin: -5% 0 0 0;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(100);
        @include mi.letterSpacing(100);
    }
}
