/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.topFooterBtm {
    @include mi.paddingPercent(1920, 0, 0, 14, 0);

    @include mi.mq(sp) {
        padding: 0% 0% 14.53% 0%;
    }
}

.topFooterBtmWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.topFooterBtmBrd {
    height: 1px;
    width: 100%;
}

.secFooterBtmTitle {
    @include mi.marginPercent(1300, 57, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 10.12%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.h2FooterBtmTitle {
    @include mi.fontSizePc(28);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(24);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(100);
    }
}

.txtFooterBtmTitle {
    @include mi.marginPercent(1300, 22, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheight(14, 24);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        margin-top: 4.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.navFooterBtm {
    @include mi.marginPercent(1300, 52, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 9.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.ulNavFooter {
    @include mi.ontenerWidth(1300, 216);

    @include mi.mq(sp) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
}

.ulNavFooter02 {
    @include mi.mq(sp) {
        margin: 4.57% 0% 0% 0%;
    }
}
.ulNavFooter03 {
    @include mi.mq(sp) {
        margin: 4.5% 0% 0% 0%;
    }
}
.ulNavFooter04 {
    @include mi.mq(sp) {
        margin: 4.5% 0% 0% 0%;
    }
}

.liNavFooter {
    @include mi.mq(sp) {
        width: 50%;
    }

    &:nth-child(n + 2) {
        @include mi.marginPercent(1300, 27, auto, 0, auto);

        @include mi.mq(sp) {
            margin: 4.57% 0% 0% 0%;
        }
    }

    &:nth-child(n + 3) {
        @include mi.mq(sp) {
            @include mi.marginPercent(330, 25, 0, 0, 0);
        }
    }
}

.btnLiNavFooter {
    @include mi.fontSizePc(13);
    @include mi.lineheightP(auto);
    @include mi.letterSpacing(20);
    text-decoration: none;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}

.btnLastFooterBtmLxn {
    @include mi.marginPercent(1300, 46, auto, 0, auto);
    @include mi.ontenerWidth(1300, 180);

    @include mi.mq(sp) {
        margin-top: 11.42%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.ontenerWidth(330, 180);
    }
}

.btnLastFooterBtm {
}

.copy {
    @include mi.marginPercent(1300, 17, auto, 0, auto);
    @include mi.fontSizePc(10);
    @include mi.lineheight(10, 24);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
        @include mi.fontSizeSp(10);
        @include mi.lineheight(10, 24);
        @include mi.letterSpacing(100);
    }
}
