/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.pcFixedMenu {
    position: fixed;
    width: 45px;
    z-index: 10;
    right: 0;
    bottom: 0;
}

.ulPcFixedMenu {
}

.liPcFixedMenu {
    cursor: pointer;
    transition-duration: 0.5s;

    &:nth-child(n + 2) {
        @include mi.marginPercent(45, 5, auto, 0, auto);
    }
    &:hover {
        opacity: 0.6;
    }
}

//SP
.spFixedMenu {
    position: fixed;
    width: 100%;
    z-index: 10;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
}
.spFixedMenu.active {
    transform: scaleY(1);
}

.ulSpFixedMenu {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.liSpFixedMenu {
    @include mi.ontenerWidth(375, 125);
}
