/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.prodoctLoop {
    @include mi.marginPercent(1920, 117, auto, 0, auto);
    overflow: visible;

    @include mi.mq(sp) {
        margin-top: 18.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.prodoctLoopWap {
}

.prodoctLoopFx {
    flex-flow: row wrap;
}

.selectOrderFormCnt {
    @include mi.paddingPercent(1036, 12, 0, 12, 0);
    @include mi.ontenerWidth(1036, 195);
    margin: 0 0 0 auto;
    @include mi.kadomaru(6px);

    @include mi.mq(sp) {
        @include mi.paddingPercent(330, 12, 0, 12, 0);
        @include mi.ontenerWidth(330, 195);
        margin: 0 0 0 auto;
    }
}

.selectOrderFormCntBx {
    @include mi.ontenerWidth(195, 178);
    margin: auto;
    display: flex;
    align-items: baseline;

    @include mi.mq(sp) {
    }
}

.h3SelectOrderFormCntBx {
    @include mi.ontenerWidth(178, 56);
    @include mi.fontSizePc(14);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
    }
}

.selectedOrderFormCntBx {
    @include mi.ontenerWidth(178, 103);
    @include mi.fontSizePc(14);
    border: unset;
    font-weight: 500;
    color: #929292;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
    }
}
.selectedOrderFormCntBx select option {
    background-color: #fff;
    @include mi.kadomaru(6px);
    border: unset;
}
