/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.giftUchiiwai {
    @include mi.paddingPercent(1920, 86, auto, 0, auto);

    @include mi.mq(sp) {
        padding-top: 24.3%;
        padding-bottom: 0%;
        padding-left: auto;
        padding-right: auto;
    }
}