/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.giftProducts {
    @include mi.marginPercent(1920, 86, auto, 0, auto);
    @include mi.paddingPercent(1920, 0, 0, 100, 0);
    @include mi.mq(sp) {
        margin-top: 30.4%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.paddingPercent(375, 0, 0, 100, 0);
    }
}
.giftProductsWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 340);
        margin: auto;
    }
}
.secGiftProducts {
}
.h2GiftProducts {
    @include mi.fontSizePc(26);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}
.rubyGiftProducts {
    @include mi.marginPercent(1300, 13, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 5.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
.giftProductsSliderLxn {
    @include mi.marginPercent(1300, 35, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 11%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.GiftProductsSlider {
    overflow: hidden;
    position: relative;
    @include mi.paddingPercent(1300, 0, 0, 45, 0);

    @include mi.mq(sp) {
        @include mi.paddingPercent(340, 0, 0, 40, 0);
    }
}
.btnGiftProducts {
}
.picSliderGiftProducts {
    aspect-ratio: 298/298;
    position: relative;
    overflow: hidden;
    @include mi.mq(sp) {
    }
}

.catsSliderGiftProducts {
    @include mi.marginPercent(298, 13, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 3.37%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(0);
    }
}
.h3SliderGiftProducts {
    @include mi.marginPercent(298, 0, auto, 0, auto);
    @include mi.fontSizePc(15);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        margin-top: 3.25%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.priceSliderGiftProducts {
    @include mi.marginPercent(298, 5, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        margin-top: 5.37%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(auto);
        @include mi.letterSpacing(50);
    }
}

.GiftProductsSliderScrollbar {
    background: #fff;
    @include mi.kadomaru(3px);
    overflow: hidden;
    height: 10px !important;
    padding: 2px 0;

    @include mi.mq(sp) {
    }
}

.slider__btn03 {
    background: #421d12;
    @include mi.kadomaru(3px);
    height: 6px !important;
    cursor: pointer;
}

//ボタン
.btnCntGiftProductsLxn {
    @include mi.marginPercent(1300, 30, auto, 0, auto);
    @include mi.ontenerWidth(1300, 240);

    @include mi.mq(sp) {
        margin-top: 10.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 70.42%;
    }
}
.btnCntGiftProducts {
    aspect-ratio: 240 / 40;
    @include mi.kadomaru(30px);
    border: 1px solid #f04e11;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(20);
    text-decoration: none;
    background: #fff;
    overflow: hidden;

    @include mi.mq(sp) {
        aspect-ratio: 239 / 40;
        @include mi.kadomaru(30px);
        border: 1px solid #f04e11;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}
.iconBbtnCntGiftProductss {
    margin: auto;
    width: 92%;
    background: url(../img/index/iconBbtnCntTopLimiteds.svg) no-repeat right
        center;
    background-size: auto 15%;
    display: block;
    text-align: center;

    @include mi.mq(sp) {
        width: 91.45%;
        margin: auto;
        background: url(../img/index/iconBbtnCntTopLimiteds.svg) no-repeat right
            center;
        background-size: auto 16%;
    }
}
