/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.giftInfo {
    @include mi.paddingPercent(1920, 100, 0, 100, 0);
    @include mi.mq(sp) {
        @include mi.paddingPercent(375, 75, 0, 75, 0);
    }
}
.giftInfoWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.secGiftInfo {
}
.h2GiftInfo {
    @include mi.fontSizePc(30);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}
.ulGiftInfo {
    @include mi.marginPercent(1300, 49, auto, 0, auto);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 50, auto, 0, auto);
    }
}
.liGiftInfo {
    @include mi.ontenerWidth(1300, 398);
    @include mi.mq(sp) {
        width: 100%;
    }
    &:nth-child(n + 2) {
        @include mi.mq(sp) {
            @include mi.marginPercent(330, 50, auto, 0, auto);
        }
    }
}
.iconGiftInfo {
    @include mi.ontenerWidth(398, 60);
    margin: auto;
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 60);
    }
}
.h3GiftInfo {
    @include mi.marginPercent(398, 27, auto, 0, auto);
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 15, auto, 0, auto);
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.txtGiftInfo {
    @include mi.marginPercent(398, 25, auto, 0, auto);
    @include mi.fontSizePc(15);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    color: #fff;
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
