/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.giftInfo {
    @include mi.paddingPercent(1920, 86, 0, 94, 0);
    @include mi.mq(sp) {
        padding: 18% 0% 17.5% 0%;
    }
}
.giftInfoWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.secGiftInfo {
}
.h2GiftInfo {
    @include mi.fontSizePc(30);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}
.ulGiftInfo {
    @include mi.marginPercent(1300, 37, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 12.15%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.liGiftInfo {
    @include mi.ontenerWidth(1300, 398);
    @include mi.mq(sp) {
        width: 100%;
    }
    &:nth-child(n + 2) {
        @include mi.mq(sp) {
            margin-top: 13.15%;
            margin-bottom: 0%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.iconGiftInfo {
    @include mi.ontenerWidth(398, 60);
    margin: auto;
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 60);
    }
}
.h3GiftInfo {
    @include mi.marginPercent(398, 18, auto, 0, auto);
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        margin-top: 2%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.txtGiftInfo {
    @include mi.marginPercent(398, 10, auto, 0, auto);
    @include mi.fontSizePc(15);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    color: #fff;
    @include mi.mq(sp) {
        margin-top: 2.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
