/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.sitemapMain {
    @include mi.marginPercent(1920, 125, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 50, auto, 0, auto);
    }
}

.sitemapMainWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 300);
        margin: auto;
    }
}

.navSitemapMain {}

.ulSitemapMain {
    @include mi.ontenerWidth(1300, 300);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(300, 300);
    }
}

.liSitemapMain {
    &:nth-child(n+2) {
        @include mi.marginPercent(300, 32, auto, 0, auto);

        @include mi.mq(sp) {
            @include mi.marginPercent(300, 40, auto, 0, auto);
        }
    }
}

.liSitemapMain02 {
    @include mi.mq(sp) {
        @include mi.marginPercent(300, 24, auto, 0, auto);
    }
}

.ulSitemapMain02 {
    @include mi.mq(sp) {
        @include mi.marginPercent(300, 40, auto, 0, auto);
    }
}

.undernone {
    text-decoration: none;
}

.btnLiSitemapMain {
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    text-decoration: none;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.btnLiSitemapMain02 {
    @include mi.fontSizePc(13);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    text-decoration: none;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}