/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.appealFvBtmNav {
    @include mi.marginPercent(1920, 107, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 22.46%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.appealFvBtmNavWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.navAppealFvBtm {
    @include mi.ontenerWidth(1300, 610);
    margin: auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
        margin: auto;
    }
}

.ulNavAppealFvBtm {
    width: 100%;
}

.liNavAppealFvBtm {
    @include mi.ontenerWidth(610, 190);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 104);
    }
}

.btnNavAppealFvBtm {
    width: 100%;
    aspect-ratio: 190 / 53;
    border-bottom: 1px solid #8d8181;
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);
    text-align: center;
    text-decoration: none;

    @include mi.mq(sp) {
        aspect-ratio: 100 / 50;
        border-bottom: 1px solid #8d8181;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }

}