/* ==========================================================================

========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.appealGift {
    @include mi.marginPercent(1920, 175, auto, 0, auto);
    @include mi.paddingPercent(1920, 125, 0, 125, 0);
    border-radius: 0 5.208333333333333vw 0 0;

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 100, auto, 0, auto);
        @include mi.paddingPercent(375, 70, 0, 70, 0);
        border-radius: 0 26.666666666666668vw 0 0;
    }
}

.appealGiftWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.appealGiftFx {}

.secAppealGift {
    @include mi.ontenerWidth(1300, 560);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
        margin: auto;
    }
}

.h2AppealGift {
    @include mi.fontSizePc(32);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 30, auto, 0, auto);
        @include mi.fontSizeSp(32);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}

.rubyAppealGift {
    @include mi.marginPercent(560, 15, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 15, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.h3AppealGift {
    @include mi.marginPercent(560, 50, auto, 0, auto);
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 30, auto, 0, auto);
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}

.txtAppealGift {
    @include mi.marginPercent(560, 40, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 25, auto, 0, auto);
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.btnAppealGiftsLxn {
    @include mi.marginPercent(560, 40, 0, 0, 0);
    @include mi.ontenerWidth(560, 259);

    @include mi.mq(sp) {
        @include mi.marginPercent(330, 30, auto, 0, auto);
        @include mi.ontenerWidth(330, 260);
    }
}

.btnAppealGifts {
    background: #fff;
    border: 1px solid #F04E11;
    width: 100%;
    aspect-ratio: 259 / 39;
    text-align: center;
    text-decoration: none;
    @include mi.kadomaru(30px);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(260, 260);
        aspect-ratio: 260 / 40;
    }
}

.iconBtnAppealGifts {
    @include mi.ontenerWidth(259, 237);
    margin: auto;
    background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right center;
    background-size: auto 20%;
    display: block;
    text-align: center;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(260, 228);
        margin: auto;
        background: url(../img/index/iconBbtnCntTopAccesss.svg) no-repeat right center;
        background-size: auto 20%;
    }
}

//
.photoAppealGift {
    @include mi.ontenerWidth(1300, 570);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
    }
}