/* ==========================================================================

========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.appealGiftOnline {
    @include mi.paddingPercent(1920, 70, 0, 0, 0);

    @include mi.mq(sp) {
        @include mi.paddingPercent(375, 30, 0, 0, 0);
    }
}

.appealGiftOnlineWap {}

.appealGiftOnlineFx {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.appealGiftOnlineInfo {
    @include mi.ontenerWidth(1300, 632);
    @include mi.paddingPercent(1300, 18, 0, 28, 0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
        margin: auto;
        padding: 3.97% 0% 7.57% 0%;
    }
}

.h2AppealGiftOnlineInfo {
    @include mi.fontSizePc(32);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(24);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}

.txtAppealGiftOnlineInfo {
    @include mi.marginPercent(632, 4, auto, 0, auto);
    @include mi.fontSizePc(13);
    @include mi.lineheightP(100);
    @include mi.letterSpacing(20);
    text-align: center;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 301);
        margin-top: -0.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(20);
    }
}

.photosAppealGiftOnlineInfo {
    @include mi.marginPercent(632, 18, auto, 0, auto);
    @include mi.ontenerWidth(632, 574);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 301);
        margin-top: 3.24%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.ulAppealGiftOnlineInfo {
    @include mi.marginPercent(632, 16, auto, 0, auto);
    @include mi.ontenerWidth(632, 317.45);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 301);
        @include mi.marginPercent(330, 13, auto, 0, auto);
    }
}

.liAppealGiftOnlineInfo {
    @include mi.ontenerWidth(317.45, 153.19);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(301, 144);
    }
}

//
.appealGiftOnlineAlert {
    @include mi.ontenerWidth(1300, 632);
    @include mi.paddingPercent(1300, 26, 0, 19, 0);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
        padding: 4.06% 0% 4.66% 0%;
        margin: 4% 0 0 0;
    }
}

.secAppealGiftOnlineAlert {
    @include mi.ontenerWidth(632, 568);
    margin: auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 301);
    }
}

.h2AppealGiftOnlineAlert {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.paddingPercent(568, 0, 0, 8, 0);
    border-bottom: 1px solid #bebdbd;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
        padding: 0% 0% 2.32% 0%;
    }
}

.txtAppealGiftOnlineAlert {
    @include mi.marginPercent(568, 15, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 2.98%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

.h3AppealGiftOnlineAlert {
    @include mi.marginPercent(568, 15, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);
    aspect-ratio: 568 / 28;

    @include mi.mq(sp) {
        margin-top: 5.64%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
        aspect-ratio: 301 / 28;
    }
}

.fxAppealGiftOnlineAlert {
    @include mi.marginPercent(568, 15, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 1.98%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.addressAppealGiftOnlineAlert {
    @include mi.ontenerWidth(568, 310);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(301, 301);
    }
}

.txtAddressAppealGiftOnline {
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

.txtAddressAppealGiftOnline02 {
    @include mi.marginPercent(568, -2, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

//
.telAppealGiftOnlineAlert {
    @include mi.ontenerWidth(568, 240);

    @include mi.mq(sp) {
        width: 100%;
        margin-top: 0.31%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-start;
    }
}

.txtTelAppealGiftOnlineAlert {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(100);
    }
}

.linkTelAppealGiftOnlineAlert {
    @include mi.fontSizePc(26);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(100);
    white-space: nowrap;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(100);
    }
}