/* ==========================================================================

========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.appealFlowrGift {
    @include mi.marginPercent(1920, 89, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 15.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.appealFlowrGiftWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
        margin: auto;
    }
}

.appealFlowrGiftFx {}

.secAppealFlowrGift {
    @include mi.ontenerWidth(1300, 282);

    @include mi.mq(sp) {
        width: 97.5%;
    }
}

.h2AppealFlowrGift {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(20);
    }
}

.txtAppealFlowrGift {
    @include mi.marginPercent(282, 14, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 2.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

.txtAppealFlowrGift02 {
    @include mi.marginPercent(282, 11, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 2.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}

//
.ulAppealFlowrGift {
    @include mi.ontenerWidth(1300, 981);
    @include mi.marginPercent(1300, 10, 0, 0, 0);

    @include mi.mq(sp) {
        margin-top: 14.45%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.ontenerWidth(330, 330);
    }
}

.liAppealFlowrGift {
    @include mi.ontenerWidth(981, 234);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 158);

        &:nth-child(n+3) {
            margin: 4.06% 0% 0% 0%;
        }
    }
}

.photoAppealFlowrGift {}

.txtUlAppealFlowrGift {
    @include mi.marginPercent(234, 12, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);
    text-align: center;

    @include mi.mq(sp) {
        margin-top: 3.49%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}