/* ==========================================================================

========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.appealFlowrHaiso {
    @include mi.marginPercent(1920, 66, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 17.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.appealFlowrHaisoWap {}

.appealFlowrHaisoBg {
    @include mi.paddingPercent(1300, 23, 0, 18, 0);

    @include mi.mq(sp) {
        @include mi.paddingPercent(375, 24, 0, 42, 0);
    }
}

.appealFlowrHaisoLxn {
    @include mi.ontenerWidth(1300, 1257);
    margin: auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}

.photoAppealFlowrHaiso {
    @include mi.ontenerWidth(1254, 317);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
    }
}

.secAppealFlowrHaiso {
    @include mi.ontenerWidth(1254, 625);
    transform: translate(-1.45%, -2%);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
        margin-top: 7.27%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.h2AppealFlowrHaiso {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.paddingPercent(625, 0, 0, 7, 0);
    border-bottom: 1px solid #BEBDBD;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
        padding: 0% 0% 4.06% 0%;
        border-bottom: 1px solid #BEBDBD;
    }
}

.txtAppealFlowrHaiso {
    @include mi.marginPercent(625, 12, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        margin-top: 4.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}

.h3AppealFlowrHaiso {
    @include mi.marginPercent(625, 17, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(0);
    aspect-ratio: 625 / 28;

    @include mi.mq(sp) {
        margin-top: 4.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
        aspect-ratio: 330 / 28;
    }
}

.fxAppealFlowrHaiso {
    @include mi.marginPercent(625, 13, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 4.57%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.addressAppealFlowrHaiso {
    @include mi.ontenerWidth(625, 310);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);

    }
}

.txtAddressAppealGiftOnline {
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

.txtAddressAppealGiftOnline02 {
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(13);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}

.telAppealFlowrHaiso {
    @include mi.ontenerWidth(625, 280);
    margin: 1px 0 0 0;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 330);
        justify-content: flex-start;
        margin-top: 0.54%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.txtTelAppealFlowrHaiso {
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(100);
    transform: translate(3%, -16%);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(10);
    }
}

.linkTelAppealFlowrHaiso {
    @include mi.fontSizePc(32);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(100);

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(100);
        margin: 0 0 0 2%;
    }
}

.picAppealFlowrHaiso {
    @include mi.ontenerWidth(1254, 233);

    @include mi.mq(sp) {
        margin-top: 6.3%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.ontenerWidth(330, 233);
    }
}