/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.weddingNav {
    @include mi.marginPercent(1920, 70, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 22.66%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.weddingNavWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.secWeddingNav {
}
.h2WeddingNav {
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.navWeddingMain {
    @include mi.marginPercent(1300, 33, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 7.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.ulNavWeddingMain {
}
.liNavWeddingMain {
    @include mi.ontenerWidth(1300, 305);
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 158);
        &:nth-child(n + 3) {
            margin: 8.09% 0% 0% 0%;
        }
    }
}
.btnNavWeddingMain {
    text-decoration: none;
}
.photoNavWeddingMain {
}
.titleNavWeddingMain {
    @include mi.marginPercent(305, 15, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 6.49%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.h3TitleNavWeddingMain {
    @include mi.ontenerWidth(305, 288);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(140);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        width: 89.6%;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
.iconTitleNavWeddingMain {
    @include mi.ontenerWidth(305, 10);
    @include mi.mq(sp) {
        @include mi.ontenerWidth(158, 10);
    }
}
