/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.weddingCake {
    @include mi.marginPercent(1920, 68, auto, 0, auto);
    @include mi.paddingPercent(1920, 103, 0, 109, 0);
    border-radius: 0 5.208333333333333vw 0 0;
    @include mi.mq(sp) {
        margin-top: 12.33%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        padding: 22% 0% 26.66% 0%;
        border-radius: 0 26.666666666666668vw 0 0;
    }
}
.weddingCakeWap {
    @include mi.mq(sp) {
        width: 90%;
    }
}
.secWeddingCake {
}
.h2WeddingCake {
    @include mi.fontSizePc(40);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(32);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}
.rubyWeddingCake {
    @include mi.marginPercent(1300, -5, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(140);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 0.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
.txtWeddingCake {
    @include mi.marginPercent(1300, 36, auto, 0, auto);
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        margin-top: 17%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.txtWeddingCake02 {
    @include mi.marginPercent(1300, 23, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 4.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}
.photoWeddingCake {
    @include mi.marginPercent(1300, 42, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 7%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.txtWeddingCakeLast {
    @include mi.marginPercent(1300, 50, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 6%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
