/* ==========================================================================
use&nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.weddingBouquet {
    @include mi.marginPercent(1920, 116, auto, 0, auto);
    @include mi.paddingPercent(1920, 105, 0, 125, 0);
    border-radius: 0 5.208333333333333vw 0 0;
    @include mi.mq(sp) {
        margin-top: 25%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        padding: 21.66% 0% 25.66% 0%;
        border-radius: 0 26.666666666666668vw 0 0;
    }
}
.weddingBouquetWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 330);
    }
}
.secWeddingBouquet {
}
.h2WeddingBouquet {
    @include mi.fontSizePc(40);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(100);
    @include mi.mq(sp) {
        @include mi.fontSizeSp(32);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(100);
    }
}
.rubyWeddingBouquetOut {
    @include mi.marginPercent(1300, -4, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(140);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 0.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(150);
        @include mi.letterSpacing(0);
    }
}
.h3WeddingBouquet {
    @include mi.marginPercent(1300, 36, auto, 0, auto);
    @include mi.fontSizePc(20);
    @include mi.lineheightP(160);
    @include mi.letterSpacing(20);
    @include mi.mq(sp) {
        margin-top: 17.21%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(18);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.txtWeddingBouquet {
    @include mi.marginPercent(1300, 25, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheightP(180);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 4.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(180);
        @include mi.letterSpacing(0);
    }
}
.txtWeddingBouquet02 {
    @include mi.marginPercent(1300, 37, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(150);
    @include mi.letterSpacing(50);
    @include mi.mq(sp) {
        margin-top: 11.09%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(12);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
.photoWeddingBouquet {
    @include mi.marginPercent(1300, 50, auto, 0, auto);
    @include mi.mq(sp) {
        margin-top: 7.06%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.ulWeddingBouquet {
    @include mi.marginPercent(1300, 27, auto, 0, auto);
    @include mi.mq(sp) {
        @include mi.marginPercent(330, 20, auto, 0, auto);
    }
}
.liWeddingBouquet {
    @include mi.ontenerWidth(1300, 305);
    @include mi.mq(sp) {
        @include mi.ontenerWidth(330, 158);
        &:nth-child(n + 3) {
            margin: 4% 0 0 0;
        }
    }
}
.liWeddingBouquet .photoWeddingBouquet {
    margin: 0;
}
.rubyWeddingBouquet {
    @include mi.marginPercent(305, 13, 0, 0, 0);
    @include mi.fontSizePc(16);
    @include mi.lineheightP(140);
    @include mi.letterSpacing(0);
    @include mi.mq(sp) {
        margin-top: 5.49%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        @include mi.fontSizeSp(14);
        @include mi.lineheightP(160);
        @include mi.letterSpacing(0);
    }
}
