.bg_EA670F {
    background: #EA670F;
}

.bg_421D12 {
    background: #421D12;
}

.bg_fff {
    background: #fff;
}

.bg_F9F9F9 {
    background: #F9F9F9;
}

.cl_421D12 {
    color: #421D12;
}


.txtset {
    leading-trim: both;
    text-edge: cap;
}