.bg_EA670F {
    background: #ea670f;
}

.bg_FFF4D4 {
    background: #FFF4D4;
}

.bg_FFFBF0 {
    background: #FFFBF0;
}

.bg_795E55 {
    background: #795E55;
}

.bg_F1ECE8 {
    background: #F1ECE8;
}

.bg_EBEBEB {
    background: #ebebeb;
}

.bg_440814 {
    background: #440814;
}

.bg_F28962 {
    background: #f28962;
}

.bg_421D12 {
    background: #421d12;
}

.bg_FFE386 {
    background: #FFE386;
}

.bg_FFF7F4 {
    background: #FFF7F4;
}

.bg_fff {
    background: #fff;
}

.bg_F5F0ED {
    background: #F5F0ED;
}

.bg_F9F9F9 {
    background: #f9f9f9;
}

.bg_F1ECE8 {
    background: #F1ECE8;
}

.bg_453C3C {
    background: #453C3C;
}

.bg_FFF5F2 {
    background: #FFF5F2;
}

.bg_421D12 {
    background: #421D12;
}

.cl_421D12 {
    color: #421d12;
}

.cl_F04E11 {
    color: #F04E11;
}

.cl_31150D {
    color: #31150d;
}

.cl_B5654E {
    color: #B5654E;
}

.cl_121212 {
    color: #121212;
}

.cl_929292 {
    color: #929292;
}

.cl_6C6262 {
    color: #6C6262;
}

.cl_772D2D {
    color: #772D2D;
}

.cl_764646 {
    color: #764646;
}

.cl_F04E11 {
    color: #F04E11;
}

.cl_795E55 {
    color: #795E55;
}

.cl_F28962 {
    color: #f28962;
}

.cl_8E8888 {
    color: #8E8888;
}

.cl_453C3C {
    color: #453c3c;
}

.cl_421D12 {
    color: #421d12;
}

.cl_fff {
    color: #fff;
}

.txtset {
    leading-trim: both;
    text-edge: cap;
}

.txtovflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.txtovflow2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 任意の行数を指定 */
}

.txtovflow3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* 任意の行数を指定 */
}


.ovhidden {
    overflow: hidden;
}

.underline {
    text-decoration: underline;
}

//
.category-suggestion {
    background: #F1ECE8;
}

.body_suggestion {
    background: #F1ECE8;
}